/* BirdLoader.scss */

.bird-loader {
  * {
    box-sizing: border-box;
  }

  .circle {
    border-radius: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .half {
    @extend .circle;
    background-size: 50% 100%;
  }

  .quarter {
    @extend .circle;
    background-size: 50% 50%;
  }

  //SCSS mixins define reusable styles for setting the width and height of elements
  @mixin square($size) {
    width: $size;
    height: $size;
  }

  @mixin background-image($color) {
    background-image: linear-gradient(to right, $color, $color);
  }

  #bird {
    $durationTime: 2000ms;

    @include square(10em); /* Adjust the size here */
    overflow: hidden;
    position: relative;
    transition: opacity 1s;

    //used to center the bird loader within bird container
    & > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    .crest {
      @extend .half;
      @include square(50%); 
      background-image: linear-gradient(to right, #98144d, #a12a15);
      animation: crest $durationTime infinite linear;

      //Animation
      @keyframes crest {
        //At 0%, the element has no rotation
        0% {
          transform: rotate(0deg);
        }
        //Between 25% and 50% of the animation, the element rotates 180 degrees 
        25%, 50% {
          transform: rotate(180deg);
        }
        //Between 75% and 100% of the animation, the element completes a full rotation of 360 degrees
        75%, 100% {
          transform: rotate(360deg);
        }
      }
    }

    .face {
      @extend .half;
      @include square(32.5%); /* Adjust the size here */
      @include background-image(#FFF2FF);
      animation: face $durationTime infinite linear;

      @keyframes face {
        0% {
          transform: rotate(0deg);
        }
        25%, 50% {
          transform: rotate(-180deg);
        }
        75%, 100% {
          transform: rotate(-360deg);
        }
      }
    }

    .cheek {
      @extend .quarter;
      @include square(32.5%); /* Adjust the size here */
      @include background-image(#E7E7E7);
      animation: cheek $durationTime infinite linear;

      @keyframes cheek {
        0% {
          transform: rotate(-90deg);
        }
        25%, 50% {
          transform: rotate(-180deg);
        }
        75%, 100% {
          transform: rotate(-450deg);
        }
      }
    }

    .upperLip {
      @extend .quarter;
      @include square(32.5%); /* Adjust the size here */
      @include background-image(#F7CE42);
      animation: upperLip $durationTime infinite linear;

      @keyframes upperLip {
        0% {
          transform: rotate(90deg);
        }
        25%, 50% {
          transform: rotate(0deg);
        }
        75%, 100% {
          transform: rotate(90deg);
        }
      }
    }

    .lowerLip {
      @extend .quarter;
      @include square(17.5%); /* Adjust the size here */
      @include background-image(#F7A500);
      animation: lowerLip $durationTime infinite linear;

      @keyframes lowerLip {
        0% {
          transform: rotate(180deg);
        }
        25%, 50% {
          transform: rotate(270deg);
        }
        75%, 100% {
          transform: rotate(180deg);
        }
      }
    }

    .eye {
      $color: #18233e;
      @extend .circle;
      @include square(7.5%); /* Adjust the size here */
      background-color: $color;
      transform: translate(-60%, -60%);
      animation: eye $durationTime infinite linear;

      @keyframes eye {
        0% {
          transform: translate(-60%, -60%);
        }
        25%, 50% {
          transform: translate(60%, -60%);
        }
        75%, 100% {
          transform: translate(-60%, -60%);
        }
      }
    }
  }
}
